.nav {
  width: 70%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1% 15% 3% 15%;
}
.nav__logo {
  font-size: 52px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Lato";
  width: 30%;
}
.nav__link {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  color: #ffffff;
  text-decoration: none;
  margin-top: 3%;
  font-size: 25px;
  font-weight: 300;
  font-family: "Open Sans";
}

.link:hover {
  border-bottom: 1px solid white;
}

.header {
  background-image: url(../img/header.webp);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: contrast(80%);
          filter: contrast(80%);
}
.header__container {
  margin: 0% 15%;
}
.header__title {
  font-size: 60px;
  line-height: 106px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
}
.header__subtitle {
  font-size: 30px;
  line-height: 106px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
}

.form {
  width: 27%;
  margin-left: 55%;
  margin-right: 18%;
}
.form__input {
  width: 93%;
  margin-bottom: 10%;
  padding: 3% 5%;
  font-size: 20px;
  line-height: 5px;
  color: #a1a1a1;
  font-weight: 400;
  font-family: "Open Sans";
}
.form__button {
  width: 100%;
  background-color: #ba271f;
  border: 1px solid white;
  font-size: 21px;
  line-height: 5px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  margin-bottom: 10%;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  display: none;
}

.opnBtn {
  display: none;
  color: #111;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 20px;
}

.advantage__title {
  font-size: 45px;
  line-height: 30px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.gallery__logo {
  width: 6%;
  margin: 0% 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery__card {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5%;
}
.gallery__img {
  position: relative;
}
.gallery__title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 29px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}
.gallery__subtitle {
  width: 100%;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}

.container {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}

.course {
  background-color: #f0f0f0;
  padding-top: 1%;
}
.course__title {
  font-size: 45px;
  line-height: 30px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin-top: 3%;
}
.course__subtitle {
  margin-top: -2%;
  font-size: 25px;
  line-height: 43px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}

.block-course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block-course__card {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e8e8e8;
  margin: 1%;
}
.block-course__card-content {
  width: 50%;
}
.block-course__card-title {
  margin: 5%;
  font-size: 25px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}
.block-course__card-subtitle, .block-course__card-href {
  font-size: 17px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Lato";
  margin: 2%;
}
.block-course__card-href {
  color: #f94466;
  text-decoration: none;
}
.block-course__card-button {
  background-color: #ba271f;
  border: 1px solid #ffffff;
  padding: 4%;
  width: 67%;
  font-size: 10px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  margin: 5% 0% 3% 33%;
}
.block-course__card-img {
  width: 42%;
  margin: 4%;
}

.economic-title {
  width: 60%;
  margin: 5% 20%;
}

.history-title {
  width: 70%;
  margin: 5% 15%;
}

.partners__title {
  font-size: 45px;
  line-height: 30px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin: 3% 0% 2%;
}

.slider {
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slide__img {
  margin: 0% 10%;
  width: 80%;
  height: auto;
}
.slide__title {
  font-size: 25px;
  line-height: 34px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}

.slide:hover .slide__title {
  color: #f94466;
}

.harvard-img {
  width: 98%;
  margin: 0% 1%;
}

.mit-img {
  width: 77%;
}

.slider-container {
  width: 80%;
  margin: 0% 10% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #f94466;
}

.arrow {
  width: 20px;
  height: 20px;
  border-top: 1px solid #f94466;
  border-left: 1px solid #f94466;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 11px;
}

.arrow-right {
  margin-left: 5px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.sertificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sertificate__img {
  width: 50%;
}
.sertificate__content {
  width: 50%;
  background-color: #a99473;
  padding: 0% 10% 1% 5%;
}
.sertificate__title {
  font-size: 35px;
  line-height: 30px;
  color: #f5f5f5;
  font-weight: 300;
  font-family: "Open Sans";
}
.sertificate__subtitle {
  width: 60%;
  font-size: 15px;
  line-height: 28px;
  color: #f1f1f2;
  font-weight: 300;
  font-family: "Lato";
}
.sertificate__button {
  background-color: #ba271f;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 4% 15%;
  margin-top: 5%;
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
}

.developers__card {
  width: 23%;
}
.developers__title {
  font-size: 47px;
  line-height: 24px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin-bottom: 7%;
}
.developers__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.developers__card-img {
  width: 100%;
}
.developers__card-title {
  font-size: 22px;
  line-height: 14px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
  margin-top: 15%;
}
.developers__card-subtitle {
  font-size: 14px;
  line-height: 22px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
  width: 80%;
  margin: 0% 10% 10%;
}
.developers__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 70%;
  margin: 0% 15%;
}

.twitter {
  fill: #0c84b7;
}

.registration {
  background-color: #a99473;
  padding: 1%;
  margin-top: 5%;
  -webkit-filter: contrast(80%);
          filter: contrast(80%);
}
.registration__title {
  font-size: 60px;
  line-height: 30px;
  color: #f3f3f3;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin-top: 3%;
}
.registration__subtitle {
  font-size: 25px;
  line-height: 43px;
  color: #f3f3f3;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin-top: -2%;
}
.registration__form {
  width: 30%;
  margin: 1% 35%;
}
.registration__form-input {
  width: 85%;
  padding: 2% 7%;
  margin-bottom: 5%;
  font-size: 25px;
  line-height: 43px;
  color: #ababab;
  font-weight: 400;
  font-family: "Lato";
}
.registration__form-button {
  width: 30%;
  padding: 1%;
  background-color: #ba271f;
  font-size: 25px;
  line-height: 43px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
  border: none;
  margin: 0% 35% 15%;
}

.button-text {
  margin: 0%;
}

.footer {
  padding: 1%;
  background-color: #a99473;
  margin-top: -1%;
  font-size: 25px;
  line-height: 43px;
  color: #dfdfdf;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}
.footer__content {
  margin-top: 4%;
}

.social {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
.social__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3%;
}
.social__red {
  fill: red;
}

span {
  color: #b9271f;
}

@media screen and (max-width: 1440px) {
  .block-course__card-title {
    font-size: 17px;
    line-height: 21px;
  }
  .block-course__card-subtitle {
    font-size: 12px;
    line-height: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .nav__logo {
    width: 50%;
  }
  .nav__link {
    width: 50%;
  }

  .link {
    font-size: 16px;
  }

  .form {
    width: 40%;
    margin-left: 50%;
    margin-right: 10%;
  }

  .block-course__card {
    width: 100%;
  }
  .block-course__card-title {
    font-size: 22px;
    line-height: 26px;
  }
  .block-course__card-subtitle {
    font-size: 17px;
    line-height: 30px;
  }
  .block-course__card-img {
    width: 30%;
    margin: 2% 10%;
  }

  .slick-prev, .slick-next {
    width: 37px;
    height: 37px;
  }

  .arrow {
    width: 13px;
    height: 13px;
    margin-left: 9px;
  }

  .arrow-right {
    margin-left: 3px;
  }
}
@media screen and (max-width: 768px) {
  .nav__logo {
    width: 40%;
    font-size: 31px;
  }
  .nav__link {
    width: 60%;
  }

  .link {
    font-size: 14px;
  }

  .header__title {
    font-size: 31px;
    line-height: 0px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 60px;
  }

  .form {
    width: 50%;
    margin-left: 40%;
    margin-right: 10%;
  }

  .advantage__title {
    font-size: 35px;
  }

  .course__title {
    font-size: 35px;
  }
  .course__subtitle {
    font-size: 22px;
    margin-top: -4%;
  }

  .gallery__title {
    font-size: 18px;
  }
  .gallery__card {
    width: 100%;
  }
  .gallery__logo {
    display: none;
  }

  .block-course__card-title {
    font-size: 22px;
    line-height: 26px;
  }
  .block-course__card-subtitle {
    font-size: 17px;
    line-height: 30px;
  }
  .block-course__card-img {
    width: 40%;
    margin: 5%;
  }

  .partners__title {
    font-size: 35px;
  }

  .slick-prev, .slick-next {
    width: 20px;
    height: 20px;
  }

  .arrow {
    width: 8px;
    height: 8px;
    margin-left: 1px;
  }

  .arrow-right {
    margin-left: -3px;
  }

  .slide__title {
    line-height: 6px;
    font-size: 17px;
  }

  .sertificate__title {
    font-size: 25px;
    margin-bottom: -3%;
  }
  .sertificate__subtitle {
    width: 100%;
  }

  .developers__title {
    font-size: 35px;
  }
  .developers__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .developers__card {
    width: 100%;
  }
  .developers__card-img {
    width: 50%;
    margin: 0% 25%;
  }
  .developers__card-title {
    margin-top: 5%;
  }
  .developers__social {
    margin: 0% 15% 7%;
  }

  .registration__title {
    font-size: 35px;
  }
  .registration__subtitle {
    font-size: 22px;
  }
  .registration__form {
    width: 50%;
    margin: 1% 25%;
  }
  .registration__form-input {
    width: 86%;
    padding: 1% 6%;
  }
  .registration__form-button {
    margin-bottom: 10%;
  }

  .footer {
    font-size: 17px;
  }

  svg {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 425px) {
  .nav__link {
    display: none;
  }

  .sidenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .checkmark {
    margin-top: 5%;
  }

  .opnBtn {
    display: block;
    margin-top: 22px;
    margin-left: 150px;
  }

  .header {
    padding: 1%;
  }
  .header__title {
    font-size: 31px;
    line-height: 40px;
  }

  .form {
    width: 100%;
    margin: 0%;
  }

  .block-course__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .block-course__card-content {
    width: 100%;
  }
  .block-course__card-title {
    font-size: 22px;
    line-height: 26px;
  }
  .block-course__card-subtitle {
    font-size: 17px;
    line-height: 30px;
  }
  .block-course__card-img {
    width: 100%;
    margin: 0%;
  }

  .slide__title {
    line-height: 6px;
    font-size: 10px;
  }

  .sertificate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sertificate__img {
    width: 100%;
  }
  .sertificate__content {
    width: 100%;
    padding: 0%;
    padding-bottom: 3%;
  }
  .sertificate__title {
    width: 96%;
    margin: 2% 2%;
    font-size: 25px;
    margin-bottom: -3%;
  }
  .sertificate__subtitle {
    width: 96%;
    margin: 2% 2%;
  }
  .sertificate__button {
    width: 96%;
    margin: 2% 2%;
  }

  .registration__title {
    font-size: 25px;
  }
  .registration__subtitle {
    font-size: 15px;
  }
  .registration__form {
    width: 70%;
    margin: 0% 15%;
  }
  .registration__form-input {
    width: 86%;
    padding: 1% 6%;
  }
  .registration__form-button {
    width: 100%;
    margin: 0%;
    margin-bottom: 10%;
  }

  .social {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
}