.course {
    background-color: #f0f0f0;
    padding-top: 1%;

    &__title {
        font-size: 45px;
        line-height: 30px;
        color: #3e3e3e;
        font-weight: 400;
        font-family: "Open Sans";
        text-align: center;
        margin-top: 3%;
    }

    &__subtitle {
        margin-top: -2%;
        font-size: 25px;
        line-height: 43px;
        color: #3e3e3e;
        font-weight: 400;
        font-family: "Open Sans";
        text-align: center;
    }
}

.block-course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__card {
        width: 48%;
        display: flex;
        background-color: #e8e8e8;
        margin: 1%;
    }

    &__card-content {
        width: 50%;
    }

    &__card-title {
        margin: 5% ;

        font-size: 25px;

        color: #3e3e3e;
        font-weight: 400;
        font-family: "Open Sans";
        text-align: center;
    }

    &__card-subtitle , &__card-href{
        font-size: 17px;
        color: #3e3e3e;
        font-weight: 400;
        font-family: "Lato";
        margin: 2%;
    }

    &__card-href {
        color: #f94466;
        text-decoration: none;
    }

    &__card-button {
        background-color: #ba271f;
        border: 1px solid #ffffff;
        padding: 4%;
        width: 67%;

        font-size: 10px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Open Sans";
        margin: 5% 0% 3% 33%;
    }

    &__card-img {
        width: 42%;
        margin: 4%;
    }
}

.economic-title {
    width: 60%;
    margin: 5% 20%;
}

.history-title {
    width: 70%;
    margin: 5% 15%;
}