.registration {
    background-color: #a99473;
    padding: 1%;
    margin-top: 5%;
    filter: contrast(80%);

    &__title {
        font-size: 60px;
        line-height: 30px;
        color: #f3f3f3;
        font-weight: 400;
        font-family: "Open Sans";
        text-align: center;
        margin-top: 3%;
    }

    &__subtitle {
        font-size: 25px;
        line-height: 43px;
        color: #f3f3f3;
        font-weight: 400;
        font-family: "Open Sans";
        text-align: center;
        margin-top: -2%;
    }

    &__form {
        width: 30%;
        margin: 1% 35%;
    }

    &__form-input {
        width: 85%;
        padding: 2% 7%;
        margin-bottom: 5%;

        font-size: 25px;
        line-height: 43px;
        color: #ababab;
        font-weight: 400;
        font-family: "Lato";
    }

    &__form-button {
        width: 30%;
        padding: 1%;

        background-color: #ba271f;
        font-size: 25px;
        line-height: 43px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Lato";
        text-align: center;
        border: none;
        margin:0% 35% 15%;
    }
}

.button-text {
    margin: 0%;
}